
<p>

  Show:
  
  <a [routerLink]="" (click)="frequency = 'minute'; scale = 60 * 24">Day</a>
  -
  <a [routerLink]="" (click)="frequency = '10minutes'; scale = 60 * 24 * 7">Week</a>
  -
  <a [routerLink]="" (click)="frequency = 'hour'; scale = 60 * 24 * (365 / 12)">Month</a>
  -
  <a [routerLink]="" (click)="frequency = 'hour'; scale = 60 * 24 * 365">Year</a>
  
  <br><br>
  Showing:
  <b>{{ sinceDate.toLocaleString() }}</b> - <b>{{ toDate.toLocaleString() }}</b>

  <br><br>

  <a [routerLink]="" (click)="timeTravel = timeTravel + 1; scale = scale">&#8592; Older</a>
  -
  <a [routerLink]="" (click)="timeTravel = timeTravel - 1; scale = scale">Newer &#8594;</a>
</p>


<h2>Temperature 🌡️</h2>
<div class="chart-wrapper">

  <div echarts [options]="tempOptions" [merge]="tempUpdateOptions"></div>

</div>

<h2>Humidity 💦</h2>
<div class="chart-wrapper">
  

  <div echarts [options]="humidOptions" [merge]="humidUpdateOptions"></div>

</div>
