
<div class="justify-center" *ngIf="onlySensors()">
  🌡️
  <b>
    {{ temperature | async | number: '1.1' }}°C
  </b>
  <br>
  💦
  <b>
    {{ humidity | async | number: '1.1' }}%
  </b>
</div>

<div class="flex justify-center" *ngIf="!onlySensors()">

  <div class="w-full md:w-9/12 2xl:w-2/3">

    <h1>Hilko's hamster 🐹</h1>
    
    <p *ngIf="socket.ioSocket.connected; else offline">
      🌡️temperature:
      <b>
        {{ temperature | async | number: '1.1' }}°C
      </b>
      
      <br>
      💦 humidity:
      <b>
        {{ humidity | async | number: '1.1' }}%
      </b>
    
      <br>
      👀 watching:
      <b>
        {{ viewers | async }}
      </b>
    </p>
    
    <ng-template #offline>
      ❌ The system seems to be offline!
    </ng-template>
    
    <div class="tabs">
      <button class="tab" routerLinkActive="active" routerLink="/live">Live<span class="icon">🔴</span></button>
      <button class="tab" routerLinkActive="active" routerLink="/graphs">Graphs<span class="icon">📈</span></button>
      <button class="tab" routerLinkActive="active" routerLink="/about">About<span class="icon">👤</span></button>
    </div>
    
    <div class="tab-content">

      <div id="twitch-embed"></div>
      
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

