
<h1>Hilko's hamster 🐹</h1>

<p *ngIf="socket.ioSocket.connected; else offline">
  🌡️temperature:
  <b>
    {{ temperature | async | number: '1.1' }}°C
  </b>
  
  <br>
  💦 humidity:
  <b>
    {{ humidity | async | number: '1.1' }}%
  </b>

  <br>
  👀 watching:
  <b>
    {{ viewers | async }}
  </b>
</p>

<ng-template #offline>
  ❌ The system seems to be offline!
</ng-template>

<button class="btn" routerLink="/">Live<span class="icon">🔴</span></button>
<button class="btn" routerLink="/graphs">Graphs<span class="icon">📈</span></button>
<button class="btn" routerLink="/about">About<span class="icon">👤</span></button>

<div id="twitch-embed"></div>

<router-outlet></router-outlet>
