/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
// @import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-gray-900 text-indigo-300;
}

.btn {

  $offset: .5rem;

  @apply m-3 py-2 px-4 border-2 border-black bg-white text-sm font-medium rounded-md text-black;
  .icon {
    @apply pl-2;
    display: inline-block;
    transition: all .1s ease-out;
  }

  &:active {
    @apply border-white bg-blue-200 text-white;
  }

  &:hover, &:focus, &.active {
    .icon {
      transform: scale(1.8) translateY(-4px);
      filter: drop-shadow(0 3px 0 black);
    }
    &::after {
      top: -#{$offset};
      left: -#{$offset};
      width: calc(100% + #{$offset} * 2);
      height: calc(100% + #{$offset} * 2);
    }
  }

  &:focus {
    .icon {
      animation: icon-wiggle .2s;
    }
    &::after {
      animation: wiggle .2s;
    }
  }
  
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: .15rem;
  position: relative;
  cursor: pointer;
  
  &::after {
    @apply py-2 px-4 border-2 border-black bg-pink-700 rounded-md;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .1s ease-out;
    top: $offset;
    left: $offset;
  }
}

@keyframes wiggle {
  25% {
    transform: scale(.9, 1.1);
  }
  50% {
    transform: scale(1.1, .9);
  }
}

@keyframes icon-wiggle {
  25% {
    transform: scale(1.3, 2.3) translateY(-4px);
  }
  50% {
    transform: scale(2.3, 1.3) translateY(-4px);
  }
}

.tab {
  @apply btn;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  margin-bottom: 0;

  &.active {
    @apply bg-transparent border-transparent text-white;
  }
}

h1 {
  @apply text-xl text-pink-600 font-semibold py-3;
}